@mixin border-box(){
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.rocketScroll{
	overflow: hidden !important;
	position: relative;

	.scrollDiv{
		@include border-box;
		overflow-y: scroll;
		height: 100%;
	}
	.scrollContent{
		@include border-box;
		width: 300px;
	}

	.scrollbar {
		position: absolute;
		right: 6px;
		top: 6px;
		bottom: 6px;
		background: transparent;
		width: 6px;
		border-radius: 3px;
		transition: background-color 0.5s;
		&:hover{
			cursor: pointer;
			div:hover{
				background: #777;
			}
		}
	}

	.scrollbar div{
		height: 100px;
		width: 6px;
		border-radius: 3px;
		background: transparent;
		transition: background-color 0.5s;
	}

	&:hover{
		.scrollbar{
			background: #ddd;
		}
		.scrollbar div{
			background: #aaa;
		}
	}

	.unselectable {
	  -moz-user-select: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
}
